.customButton{
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;
  border-radius: 4px;

  font-family: 'Roboto';
  font-size: 1rem;
}

.runButton{
  /* border: 1px solid #e7eeff; */
  background-color: #6d8467;
   color: #f4f5f4;
 
}

.clearButton{
  /* border: 1px solid #e7eeff; */
  background-color: #816757;
   color: #f4f5f4;

}
.clearCodeButton{
   background-color: #815757;
   color: #f4f5f4;
}
.runButton:hover{
   color: #ffffff;
   background-color: #546e4e;
}

.clearButton:hover{
   color: #ffffff;
  background-color: #685345;
}
.clearCodeButton:hover{
   color: #ffffff;
  background-color: #674040;
}

.runButton:active {
  background-color: #3b5734;
}

.clearButton:active {
   background-color: #46382f;
}
.clearCodeButton:active {
   background-color: #4d2626;
}

.customButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}