.customButton{
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;
  border-radius: 4px;

  font-family: 'Roboto';
  font-size: 1rem;
}

.runButton{
  border: 1px solid #e7eeff;
  background-color: #2c3039;
   color: #a4ca99;
 
}

.clearButton{
  border: 1px solid #e7eeff;
  background-color: #2c3039;
   color: #c67c7c;

}

.customButton:hover {
  background-color: #262931;
}

.runButton:hover{
   color: #80a176;
}

.clearButton:hover{
  color: #a17676;
}

.customButton:active {
  background: #111827;
}

.customButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}