.customButton{
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;
  border-radius: 4px;

  font-family: 'Roboto';
  font-size: 0.875rem;
}
.customButton img{
   width: 18px;
   height: 18px;
}
.customButton p{
   margin: 0;
   padding: 0 0 0 6px;
}

.miniButton{
   padding: 8px 10px;
   font-size: 0.675rem;
}
.miniButton img{
   width: 14px;
   height: 14px;
}

.runButton{
  background-color: #6d8467;
   color: #f4f5f4;
 
}
.clearButton{
  background-color: #816757;
   color: #f4f5f4;

}
.clearCodeButton{
   background-color: #815757;
   color: #f4f5f4;
}
.CopyButton{
   background-color: #676f84;
   color: #f4f5f4;
}
.InsertButton{
   background-color: #796784;
   color: #f4f5f4;
}


.runButton:hover{
   color: #ffffff;
   background-color: #546e4e;
}

.clearButton:hover{
   color: #ffffff;
  background-color: #685345;
}
.clearCodeButton:hover{
   color: #ffffff;
  background-color: #674040;
}
.CopyButton:hover{
   background-color: #535969;
   color: #ffffff;
}
.InsertButton:hover{
   background-color: #675870;
   color: #ffffff;
}


.runButton:active {
  background-color: #3b5734;
}
.clearButton:active {
   background-color: #46382f;
}
.clearCodeButton:active {
   background-color: #4d2626;
}
.CopyButton:active{
   background-color: #404552;
}
.InsertButton:active{
   background-color: #4a3f50;
}

.customButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 525px) {
   .customButton img{
      width: 12px;
      height: 12px;
   }
    .miniButton img{
      width: 10px;
      height: 10px;
   }
}