.codeEditorWindow{
    height: 94%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    touch-action: pan-y;
}

@media (max-width: 525px) {
    .codeEditorWindow{
        height: 99%;
        width: 97%;
        border-radius: 8px;
        overflow: hidden;
    }
}